@use '../../global.module.sass' as global

.btn
  border: none
  border-radius: 15px
  background-color: global.$btn-color
  display: block
  margin: auto
  margin-bottom: 25px
  width: 253px
  height: 49px
  color: white  
  font-weight: bold
  cursor: pointer
  font-size: 22px
  font-family: global.$font-familly
  font-display: swap
  &:hover
    background-color: global.$alternative-button-bg
