/* Global variables */

$bg: #FBFBFB
$btn-color: #ec860c
$cardContainer: #F5F5F5
$inputBg: #f7f7f7
$highlight-color: #3d107b
$shadow: rgba(0, 0,0 ,0.1 )
$font-color: #1A1A1D
$font-family: 'Poppins', serif

.html
  display: flex
  align-items: center
  font-family: 'Poppins', serif
  font-size: 18px
  font-display: "swap"
